.background {
  width: 100%;
  height: 100vh;
  background: peachpuff;
  scroll-snap-align: start;
}

.text {
  width: 700px;
  font-size: 25px;
  color: black;
  position: relative;
  top: 40%;
  left: 12%;
}

.link {
  color: rgb(209, 128, 61);
  font-weight: 700;
}